:root {
  --white: rgb(212, 227, 221);
  --light: rgb(102, 201, 237);
  --dark: rgb(31, 79, 109);
}

body {
  padding-bottom: 100px;
  font-family: 'Quicksand', 'Montserrat', sans-serif;
}

body::before {
  background-image: url('./image/utsav-srestha-HeNrEdA4Zp4-unsplash.jpg');
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center;
  background-size: cover;
  content: '';
  position: fixed;
  opacity: 0.8;
}

.form {
  z-index: 1;
  position: sticky;
  top: 0;
  display: block;
  width: 100%;
  padding: 2rem;
  font-family: inherit;
  font-size: 1.5rem;
  border-bottom: 2px solid gray;
  text-align: center;
  background-color: var(--white);
}

button {
  font-size: inherit;
  background-color: var(--white);
  color: var(--dark);
  font-family: 'Quicksand', 'Montserrat', sans-serif;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  margin-left: 20px;
}
div.wrapper:nth-of-type(2n + 1) button {
  background-color: var(--white);
  color: var(--dark);
  border: 2px solid var(--dark);
}
div.wrapper:nth-of-type(2n) button {
  background-color: var(--white);
  color: var(--light);
  border: 2px solid var(--light);
}

div.wrapper:nth-of-type(2n) button:hover,
button:active {
  background-color: var(--dark);
  color: var(--white);
}
div.wrapper:nth-of-type(2n + 1) button:hover,
button:active {
  background-color: var(--light);
  color: var(--white);
}
button:hover {
  background-color: var(--white);
  color: black;
}

.container {
  padding: 1.5rem;
  display: flex;
  align-items: flex-start;
  height: 100%;
  max-width: 100%;
  margin: 2rem auto 0;
  justify-content: center;
}

.wrapper {
  text-align: center;
  position: relative;
  background-color: var(--light);
  border: solid 1px #777;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-radius: 10px;
  -webkit-box-shadow: 0px -5px 24px 8px rgba(169, 169, 169, 0.39);
  -moz-box-shadow: 0px -5px 24px 8px rgba(169, 169, 169, 0.39);
  box-shadow: 0px -5px 24px 8px rgba(169, 169, 169, 0.39);
}

.wrapper:nth-child(even) {
  background-color: var(--dark);
  margin-left: 4rem;
  margin-right: -4rem;
}
h2 {
  margin-top: 20px;
  font-weight: bold;
  color: var(--white);
}

p {
  padding: 5px;
  color: var(--white);
}
p:nth-last-of-type(1) {
  padding: 10px;
}
a {
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

div.wrapper:nth-of-type(2n + 1) a {
  background-color: var(--white);
  color: var(--dark);
  border: 2px solid var(--dark);
}
div.wrapper:nth-of-type(2n) a {
  background-color: var(--white);
  color: var(--light);
  border: 2px solid var(--light);
}

div.wrapper:nth-of-type(2n) a:hover,
a:active {
  background-color: var(--dark);
  color: var(--white);
}
div.wrapper:nth-of-type(2n + 1) a:hover,
a:active {
  background-color: var(--light);
  color: var(--white);
}

.loading {
  opacity: 0;
  height: 1.5rem;
  display: flex;
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  transition-property: all;
  transition-duration: 0.9s;
  transition-timing-function: ease-in;
}

.loading.show {
  opacity: 1;
}

.ball {
  background-color: var(--white);
  border-radius: 50%;
  border: 2px solid var(--dark);
  margin: 1rem;
  height: 2rem;
  width: 2rem;
  animation: jump 0.7s ease-in infinite;
}

.ball:nth-of-type(2) {
  animation-delay: 0.1s;
}

.ball:nth-of-type(3) {
  animation-delay: 0.2s;
}

@keyframes jump {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-25px);
  }
}
.articles-counter {
  z-index: 1;
  margin-left: 70px;
  background-color: var(--white);
  position: sticky;
  top: 95px;
  padding: 5px;
  max-width: 100px;

  text-align: center;
  line-height: 1.5em;
}
span {
  color: var(--dark);
}
span p {
  color: var(--dark);
  padding: 0;
  margin-top: 10px;
}
